<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>
  <main>
    <form th:action="@{/views/create-product}" method="post" id="make-product-box">
      <div id="make-product-inputs">
        <label for="product-name">New Product:</label>
        <input name="name" id="product-name" placeholder="Product Name">
        <label for="product-price">Price:</label>
        <input name="price" id="product-price" placeholder="0.00">
        <label for="category-select">Category:</label>
        <select name="category.category_id" id="category-select">
          <option th:each="category : ${categories}" th:value="${category.getCategory_id()}" th:text="${category.getName()}"></option>
        </select>
      </div>
      <div id="make-product-btn">
        <button type="submit" id="new-product">+</button>
        <label for="new-product">Add Product</label>
      </div>
    </form>
  </main>
</body>
</html>