<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>
  <main>
    <div id="make-product-box">
      <div id="make-product-inputs">
        <label for="product-name">New Product:</label>
        <input id="product-name" placeholder="Product Name">
        <label for="product-price">Price:</label>
        <input id="product-price" placeholder="0.00">
      </div>
      <div id="make-product-btn">
        <button id="new-product">+</button>
        <label for="new-product">Add Product</label>
      </div>
    </div>
  </main>
</body>
</html>