<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spectral Seedlings Products</title>
</head>
<body>
<main id="products-and-categories-container">
    <section id="product-box">
        <ul id="product-list">
        </ul>
    </section>
    <section id="category-box">
        <div id="delete-category-container">
            <button id="delete-category">X</button>
            <label for="delete-category">Remove Category</label>
        </div>
    </section>
</main>
</body>
</html>